<template>
    <div id="app">
        <p><strong>Source Array:</strong><br>
        ['Apple', 'Banana', 'Orange', 'Coconut']</p>

        <p><strong>Returned Reverse Array:</strong><br>
        {{returnArray}}</p>
        
    </div>
</template>

<script>
export default {
    data() {
        return {
            sourceArray = ['Apple', 'Banana', 'Orange', 'Coconut'],
            returnArray = []
        }
    },
    created: function() {
        this.reverseArray(this.sourceArray);
    },
    methods: {
        reverseArray(sourceArray) {
            this.sourceArray.forEach((value, index) => {
                returnArray.push(value);
                console.log(value);
                console.log(index);
            });
            return this.returnArray;
        }
    }
   
}
</script>

<style>
#app {
    margin-left: 3%;
}
</style>
